{{ define "main" -}}

<div class="td-content">
<h1>{{ .Title }}</h1>
{{ .Content }}
</div>

{{ $isBlogOverview := and .Parent .Parent.IsHome -}}
{{ if $isBlogOverview -}}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) -}}
{{ else -}}
{{ $.Scratch.Set "blog-pages" .Pages -}}
{{ end -}}

{{- if .Pages -}}
<div class="td-blog-posts jv-blog-list">
{{ $pager := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006" ) -}}
{{ range $pager.PageGroups -}}
<div class="h2">{{ T "post_posts_in" }} {{ .Key }}</div>
<ul class="td-blog-posts-list">
{{ range .Pages -}}
{{ partial "jv-blog-card.html" . }}
{{ end -}}
</ul>
{{ end -}}
</div>
<div class="td-blog-posts__pagination">
{{ template "_internal/pagination.html" . -}}
</div>
{{- end -}}
{{ end -}}
