{{ define "main" -}}

{{- $taxonomyLabel := .Data.Singular | humanize | title -}}
{{- $taxonomyName := .Title -}}

<div class="jv-taxonomy-page">
  <header class="td-content jv-taxonomy-page__header">
    <div class="jv-taxonomy-page__type">{{ $taxonomyLabel }}</div>
    <h1>{{ $taxonomyName }}</h1>

    {{- if eq .Data.Singular "category" }}
      <p class="jv-taxonomy-page__description">You are viewing all posts in the <strong>{{ $taxonomyName }}</strong> category.</p>
    {{- else if eq .Data.Singular "tag" }}
      <p class="jv-taxonomy-page__description">You are viewing all posts tagged with <strong>{{ $taxonomyName }}</strong>.</p>
    {{- else }}
      <p class="jv-taxonomy-page__description">You are viewing all posts in <strong>{{ $taxonomyName }}</strong>.</p>
    {{- end }}

    {{- with .Content }}
      <div class="jv-taxonomy-page__intro">{{ . }}</div>
    {{- end }}
  </header>

  {{- if .Pages }}
  <div class="td-blog-posts jv-blog-list jv-taxonomy-page__posts">
    {{- $pager := .Paginate (.Pages.GroupByDate "2006") }}
    {{- range $pager.PageGroups }}
      <div class="h2">{{ T "post_posts_in" }} {{ .Key }}</div>
      <ul class="td-blog-posts-list">
        {{- range .Pages }}
          {{ partial "jv-blog-card.html" . }}
        {{- end }}
      </ul>
    {{- end }}
  </div>

  <div class="td-blog-posts__pagination jv-taxonomy-page__pagination">
    {{ template "_internal/pagination.html" . -}}
  </div>
  {{- end }}
</div>

{{ end -}}
